Package: zabbix-server-mysql-dbgsym
Source: zabbix
Version: 1:4.0.8-1+stretch
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Zabbix Packager <info@zabbix.com>
Installed-Size: 1896
Depends: zabbix-server-mysql (= 1:4.0.8-1+stretch)
Section: debug
Priority: extra
Homepage: http://www.zabbix.com
Description: Debug symbols for zabbix-server-mysql
Build-Ids: e912639171f27f0787da244aeb7e5ebd0b143645
