Package: zabbix-agent-dbgsym
Source: zabbix
Version: 1:4.0.8-1+stretch
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Zabbix Packager <info@zabbix.com>
Installed-Size: 526
Depends: zabbix-agent (= 1:4.0.8-1+stretch)
Section: debug
Priority: extra
Homepage: http://www.zabbix.com
Description: Debug symbols for zabbix-agent
Build-Ids: 17a2cc8c0a7d96127940aa7cb18dc3bee1ae5d50
